In [0]:
employee_detail=[(10,'Raj','kumar',1999,100,'M',2000),
                 (20,'Rahul','Rajan',2032,200,'F',8000),
                 (30,'Raja','Singh',2004,100,'F',7000),
                 (40,'Rama','krishna',2008,400,'M',1000),
                 (60,'Rasul','Kutty',2014,500,'M',4000),
                 (70,'kumar','chand',2034,600,'M',5600)]
employee_detail_schema=['employee_id','firstname','lastname','doj','dptid','gender','salary']
df_empdtl=spark.createDataFrame(data=employee_detail,schema=employee_detail_schema)
display(df_empdtl)

employee_id,firstname,lastname,doj,dptid,gender,salary
10,Raj,kumar,1999,100,M,2000
20,Rahul,Rajan,2032,200,F,8000
30,Raja,Singh,2004,100,F,7000
40,Rama,krishna,2008,400,M,1000
60,Rasul,Kutty,2014,500,M,4000
70,kumar,chand,2034,600,M,5600

In [0]:
from pyspark.sql.functions import lit,concat
df_country=df_empdtl.withColumn('country',lit('India'))
df_Fullname=df_country.withColumn('Bonus',df_country.salary*0.05).withColumn('Fullname',concat('firstname',lit(" "),'lastname')).withColumn('Total',df_country.salary+df_country.salary*0.05)
df_Fullname.show()

+-----------+---------+--------+----+-----+------+------+-------+-----+------------+------+
|employee_id|firstname|lastname| doj|dptid|gender|salary|country|Bonus|    Fullname| Total|
+-----------+---------+--------+----+-----+------+------+-------+-----+------------+------+
|         10|      Raj|   kumar|1999|  100|     M|  2000|  India|100.0|   Raj kumar|2100.0|
|         20|    Rahul|   Rajan|2032|  200|     F|  8000|  India|400.0| Rahul Rajan|8400.0|
|         30|     Raja|   Singh|2004|  100|     F|  7000|  India|350.0|  Raja Singh|7350.0|
|         40|     Rama| krishna|2008|  400|     M|  1000|  India| 50.0|Rama krishna|1050.0|
|         60|    Rasul|   Kutty|2014|  500|     M|  4000|  India|200.0| Rasul Kutty|4200.0|
|         70|    kumar|   chand|2034|  600|     M|  5600|  India|280.0| kumar chand|5880.0|
+-----------+---------+--------+----+-----+------+------+-------+-----+------------+------+

In [0]:
df_show=df_Fullname.withColumnRenamed("Fullname","Full_name")
df_show.drop("Full_name").show()

+-----------+---------+--------+----+-----+------+------+-------+-----+------+
|employee_id|firstname|lastname| doj|dptid|gender|salary|country|Bonus| Total|
+-----------+---------+--------+----+-----+------+------+-------+-----+------+
|         10|      Raj|   kumar|1999|  100|     M|  2000|  India|100.0|2100.0|
|         20|    Rahul|   Rajan|2032|  200|     F|  8000|  India|400.0|8400.0|
|         30|     Raja|   Singh|2004|  100|     F|  7000|  India|350.0|7350.0|
|         40|     Rama| krishna|2008|  400|     M|  1000|  India| 50.0|1050.0|
|         60|    Rasul|   Kutty|2014|  500|     M|  4000|  India|200.0|4200.0|
|         70|    kumar|   chand|2034|  600|     M|  5600|  India|280.0|5880.0|
+-----------+---------+--------+----+-----+------+------+-------+-----+------+