In [0]:
employee_data=[(10,'Raj',1999,100,'M',2000),
               (20,'Rahul',2002,200,'M',8000),
               (30,'Raghav',2010,100,"",6000),
               (40,'Raja',2004,100,'F',7000),
               (50,'Rama',2008,400,'F',1000),
               (60,'Rasul',2014,500,'M',5000)]
employee_schema=['employee_id','name','doj','dept_id','gender','salary']
df_employee=spark.createDataFrame(data=employee_data,schema=employee_schema)
df_employee.show()

+-----------+------+----+-------+------+------+
|employee_id|  name| doj|dept_id|gender|salary|
+-----------+------+----+-------+------+------+
|         10|   Raj|1999|    100|     M|  2000|
|         20| Rahul|2002|    200|     M|  8000|
|         30|Raghav|2010|    100|      |  6000|
|         40|  Raja|2004|    100|     F|  7000|
|         50|  Rama|2008|    400|     F|  1000|
|         60| Rasul|2014|    500|     M|  5000|
+-----------+------+----+-------+------+------+

In [0]:
department_data=[("HR",100),
                 ("supply",200),
                 ("stock",400),
                 ("sales",300)]
department_schema=["dept_name","dept_id"]
df_dept=spark.createDataFrame(data=department_data,schema=department_schema)
df_dept.show()

+---------+-------+
|dept_name|dept_id|
+---------+-------+
|       HR|    100|
|   supply|    200|
|    stock|    400|
|    sales|    300|
+---------+-------+

In [0]:
df_inner_join=df_employee.join(df_dept,df_employee.dept_id==df_dept.dept_id,"inner")
df_inner_join.show()

+-----------+------+----+-------+------+------+---------+-------+
|employee_id|  name| doj|dept_id|gender|salary|dept_name|dept_id|
+-----------+------+----+-------+------+------+---------+-------+
|         10|   Raj|1999|    100|     M|  2000|       HR|    100|
|         30|Raghav|2010|    100|      |  6000|       HR|    100|
|         40|  Raja|2004|    100|     F|  7000|       HR|    100|
|         20| Rahul|2002|    200|     M|  8000|   supply|    200|
|         50|  Rama|2008|    400|     F|  1000|    stock|    400|
+-----------+------+----+-------+------+------+---------+-------+

In [0]:
df_full_join=df_employee.join(df_dept,df_employee.dept_id==df_dept.dept_id,"full")
df_full_join.show()

+-----------+------+----+-------+------+------+---------+-------+
|employee_id|  name| doj|dept_id|gender|salary|dept_name|dept_id|
+-----------+------+----+-------+------+------+---------+-------+
|         10|   Raj|1999|    100|     M|  2000|       HR|    100|
|         30|Raghav|2010|    100|      |  6000|       HR|    100|
|         40|  Raja|2004|    100|     F|  7000|       HR|    100|
|         20| Rahul|2002|    200|     M|  8000|   supply|    200|
|       NULL|  NULL|NULL|   NULL|  NULL|  NULL|    sales|    300|
|         50|  Rama|2008|    400|     F|  1000|    stock|    400|
|         60| Rasul|2014|    500|     M|  5000|     NULL|   NULL|
+-----------+------+----+-------+------+------+---------+-------+

In [0]:
df_left_outer_join=df_employee.join(df_dept,df_employee.dept_id==df_dept.dept_id,"left")
df_left_outer_join.show()

+-----------+------+----+-------+------+------+---------+-------+
|employee_id|  name| doj|dept_id|gender|salary|dept_name|dept_id|
+-----------+------+----+-------+------+------+---------+-------+
|         10|   Raj|1999|    100|     M|  2000|       HR|    100|
|         20| Rahul|2002|    200|     M|  8000|   supply|    200|
|         30|Raghav|2010|    100|      |  6000|       HR|    100|
|         40|  Raja|2004|    100|     F|  7000|       HR|    100|
|         50|  Rama|2008|    400|     F|  1000|    stock|    400|
|         60| Rasul|2014|    500|     M|  5000|     NULL|   NULL|
+-----------+------+----+-------+------+------+---------+-------+

In [0]:
df_right_outer_join=df_employee.join(df_dept,df_employee.dept_id==df_dept.dept_id,"right")
df_right_outer_join.show()

+-----------+------+----+-------+------+------+---------+-------+
|employee_id|  name| doj|dept_id|gender|salary|dept_name|dept_id|
+-----------+------+----+-------+------+------+---------+-------+
|         40|  Raja|2004|    100|     F|  7000|       HR|    100|
|         30|Raghav|2010|    100|      |  6000|       HR|    100|
|         10|   Raj|1999|    100|     M|  2000|       HR|    100|
|         20| Rahul|2002|    200|     M|  8000|   supply|    200|
|         50|  Rama|2008|    400|     F|  1000|    stock|    400|
|       NULL|  NULL|NULL|   NULL|  NULL|  NULL|    sales|    300|
+-----------+------+----+-------+------+------+---------+-------+

Left semi join is like iner join it will return all columns from left data frame and don't return column from right data frame and return only matching records from both data frames

In [0]:
df_semi_join=df_employee.join(df_dept,df_employee.dept_id==df_dept.dept_id,"semi")
df_semi_join.show()

+-----------+------+----+-------+------+------+
|employee_id|  name| doj|dept_id|gender|salary|
+-----------+------+----+-------+------+------+
|         10|   Raj|1999|    100|     M|  2000|
|         30|Raghav|2010|    100|      |  6000|
|         40|  Raja|2004|    100|     F|  7000|
|         20| Rahul|2002|    200|     M|  8000|
|         50|  Rama|2008|    400|     F|  1000|
+-----------+------+----+-------+------+------+

Left anti join opposite to left semi join, it will return all the records which are not common from left data frame.

In [0]:
df_anti_join=df_employee.join(df_dept,df_employee.dept_id==df_dept.dept_id,"anti")
df_anti_join.show()

+-----------+-----+----+-------+------+------+
|employee_id| name| doj|dept_id|gender|salary|
+-----------+-----+----+-------+------+------+
|         60|Rasul|2014|    500|     M|  5000|
+-----------+-----+----+-------+------+------+