In [0]:
from delta.tables import *
DeltaTable.createOrReplace(spark)\
    .tableName('employee_demo2')\
        .addColumn('emp_id','INT')\
            .addColumn('emp_name','STRING')\
                .addColumn('gender','STRING')\
                    .addColumn('salary','INT')\
                        .addColumn('dept_id','STRING')\
                            .property('description','table created demo')\
                                .location('/FileStore/tables/delta/path_employee')\
                                    .execute()

In [0]:
%sql
insert into employee_demo2 values(100,'Stephen','M',2000,'IT')

num_affected_rows,num_inserted_rows
1,1

In [0]:
display(spark.sql('select * from employee_demo2'))

emp_id,emp_name,gender,salary,dept_id
200,Nathalia,F,4000,Sales
200,Nathalia,F,4000,Sales
200,Nathalia,F,4000,Sales
100,Stephen,M,2000,IT
300,Lara,F,7000,HR

In [0]:
from pyspark.sql.types import StringType,IntegerType,StructField,StructType
employee_data=[(200,'Nathalia','F',4000,'Sales')]
struct_schema=StructType([\
    StructField('emp_id',IntegerType(),False),\
        StructField('emp_name',StringType(),True),\
            StructField('gender',StringType(),True),\
                StructField('salary',IntegerType(),True),\
                    StructField('dept_id',StringType(),True)])
df_str=spark.createDataFrame(data=employee_data,schema=struct_schema)
display(df_str)

emp_id,emp_name,gender,salary,dept_id
200,Nathalia,F,4000,Sales

In [0]:
df_str.write.format('delta').mode('append').saveAsTable('employee_demo2')

In [0]:
from pyspark.sql.types import StringType,IntegerType,StructField,StructType
employee_data2=[(300,'Lara','F',7000,'HR')]
stru_schema=StructType([\
    StructField('emp_id',IntegerType(),False),\
        StructField('emp_name',StringType(),True),\
            StructField('gender',StringType(),True),\
                StructField('salary',IntegerType(),True),\
                    StructField('dept_id',StringType(),True)])
df_stru=spark.createDataFrame(data=employee_data2,schema=stru_schema)
display(df_stru)

emp_id,emp_name,gender,salary,dept_id
300,Lara,F,7000,HR

In [0]:
df_stru.write.insertInto('employee_demo2',overwrite=False)

In [0]:
df_str.createOrReplaceTempView('delta_temp')

In [0]:
%sql
insert into employee_demo2
select * from delta_temp

num_affected_rows,num_inserted_rows
1,1

In [0]:
spark.sql('insert into employee_demo2 select * from delta_temp')

DataFrame[num_affected_rows: bigint, num_inserted_rows: bigint]