In [0]:
dbutils.fs.ls('/FileStore/tables/')

[FileInfo(path='dbfs:/FileStore/tables/20th_century_deaths_in_US___CDC.csv', name='20th_century_deaths_in_US___CDC.csv', size=32127, modificationTime=1737887910000),
 FileInfo(path='dbfs:/FileStore/tables/weather_data.csv', name='weather_data.csv', size=155, modificationTime=1737889840000),
 FileInfo(path='dbfs:/FileStore/tables/weather_data.xlsx', name='weather_data.xlsx', size=8223, modificationTime=1737889598000)]

In [0]:
employee_data=[(10,'Raja kumar',1999,100,'M',2000),
               (20,'Rahul',2002,200,'F',8000),
                (30,'Raghav',2010,100,None,6000),
                (40,'Rama',2005,400,'M',1000),
                (50,'Rasul',2014,500,'M',5000)]
employee_schema=['employee_id','name','doj','dept_id','gender','salary']
employee_df=spark.createDataFrame(data=employee_data,schema=employee_schema)
display(employee_df)

employee_id,name,doj,dept_id,gender,salary
10,Raja kumar,1999,100,M,2000
20,Rahul,2002,200,F,8000
30,Raghav,2010,100,null,6000
40,Rama,2005,400,M,1000
50,Rasul,2014,500,M,5000

In [0]:
from pyspark.sql.types import StringType,IntegerType,LongType
employee_data=[(10,'Raja kumar',1999,100,'M',2000),
               (20,'Rahul',2002,200,'F',8000),
                (30,'Raghav',2010,100,None,6000),
                (40,'Rama',2005,400,'M',1000),
                (60,'Raja singh',2003,400,'M',1000),
                (50,'Rasul',2014,500,'M',5000)]
schema_modify_employee='employee_id INTEGER,name STRING,doj INTEGER,dept_id INTEGER,gender STRING,salary INTEGER'
emp_df=spark.createDataFrame(data=employee_data,schema=schema_modify_employee)
emp_df.printSchema()
display(emp_df)

root
 |-- employee_id: integer (nullable = true)
 |-- name: string (nullable = true)
 |-- doj: integer (nullable = true)
 |-- dept_id: integer (nullable = true)
 |-- gender: string (nullable = true)
 |-- salary: integer (nullable = true)

employee_id,name,doj,dept_id,gender,salary
10,Raja kumar,1999,100,M,2000
20,Rahul,2002,200,F,8000
30,Raghav,2010,100,null,6000
40,Rama,2005,400,M,1000
60,Raja singh,2003,400,M,1000
50,Rasul,2014,500,M,5000

In [0]:
from pyspark.sql.functions import col
display(emp_df.filter(emp_df.salary==1000))
display(emp_df.filter(emp_df.salary>3000))
display(emp_df.filter(emp_df.gender.isNull()))
display(emp_df.filter((emp_df.gender=='M')&(emp_df.doj<2000)))
display(emp_df.filter((col("name")=='Rasul')|(col("doj")<2000)))
display(emp_df.filter(emp_df.name.endswith('kumar')))
display(emp_df.filter(emp_df.name.startswith('Raja')))

employee_id,name,doj,dept_id,gender,salary
40,Rama,2005,400,M,1000
60,Raja singh,2003,400,M,1000

employee_id,name,doj,dept_id,gender,salary
20,Rahul,2002,200,F,8000
30,Raghav,2010,100,null,6000
50,Rasul,2014,500,M,5000

employee_id,name,doj,dept_id,gender,salary
30,Raghav,2010,100,null,6000

employee_id,name,doj,dept_id,gender,salary
10,Raja kumar,1999,100,M,2000

employee_id,name,doj,dept_id,gender,salary
10,Raja kumar,1999,100,M,2000
50,Rasul,2014,500,M,5000

employee_id,name,doj,dept_id,gender,salary
10,Raja kumar,1999,100,M,2000

employee_id,name,doj,dept_id,gender,salary
10,Raja kumar,1999,100,M,2000
60,Raja singh,2003,400,M,1000

In [0]:
display(emp_df.filter(emp_df.name.contains('Raja')))
display(emp_df.filter(emp_df.dept_id.isin(400)))
display(emp_df.filter(emp_df.gender.isNotNull()))
display(emp_df.filter(emp_df.name.like('%kumar')))

employee_id,name,doj,dept_id,gender,salary
10,Raja kumar,1999,100,M,2000
60,Raja singh,2003,400,M,1000

employee_id,name,doj,dept_id,gender,salary
40,Rama,2005,400,M,1000
60,Raja singh,2003,400,M,1000

employee_id,name,doj,dept_id,gender,salary
10,Raja kumar,1999,100,M,2000
20,Rahul,2002,200,F,8000
40,Rama,2005,400,M,1000
60,Raja singh,2003,400,M,1000
50,Rasul,2014,500,M,5000

employee_id,name,doj,dept_id,gender,salary
10,Raja kumar,1999,100,M,2000