In [0]:
employee_data=((111,'stephen','king',2000),
               (222,'philip','larkin',8000),
               (333,'john','smith',6000))
employee_schema=["id","name","last","salary"]
df=spark.createDataFrame(data=employee_data,schema=employee_schema)
display(df)

id,name,last,salary
111,stephen,king,2000
222,philip,larkin,8000
333,john,smith,6000

In [0]:
from pyspark.sql.functions import col,concat,lit,current_timestamp
dfiwthcolumn=df.withColumn("Name",concat(col("name"),lit(" "),col("last")))\
    .withColumn("bonus",lit(10))\
    .withColumn("Totalsalary",col("salary")*col("bonus"))\
    .withColumn("datecreate",current_timestamp())

display(dfiwthcolumn)

id,Name,last,salary,bonus,Totalsalary,datecreate
111,stephen king,king,2000,10,20000,2025-02-26T07:51:48.734Z
222,philip larkin,larkin,8000,10,80000,2025-02-26T07:51:48.734Z
333,john smith,smith,6000,10,60000,2025-02-26T07:51:48.734Z

In [0]:
display(dbutils.notebook.entry_point.getDbutils().notebook().getContext().notebookPath().get())

'/Users/pradeep114843@gmail.com/Untitled Notebook 2025-02-26 12:42:00'

In [0]:
from pyspark.sql.functions import col,current_timestamp,lit,concat
dfselect=df.select("*"
                   ,concat(col("name"),lit(" "),col("last"))
                    ,lit(10).alias("bonus")
                    ,(col("salary")*lit(10)).alias("totalsalary")
                    ,current_timestamp().alias("date"))
display(dfselect)

id,name,last,salary,"concat(name, , last)",bonus,totalsalary,date
111,stephen,king,2000,stephen king,10,20000,2025-02-26T08:14:13.575Z
222,philip,larkin,8000,philip larkin,10,80000,2025-02-26T08:14:13.575Z
333,john,smith,6000,john smith,10,60000,2025-02-26T08:14:13.575Z