In [0]:
simpledata=[("james","sales",3000),\
    ("michael","sales",4600),\
    ("Robert","sales",4100),\
    ("James","sales",3000),\
    ("saif","sales",4100),\
    ("maria","finance",3000),\
    ("scott","finance",3300),\
    ("jen","finance",3900),\
    ("jeff","marketing",3000),\
    ("kumar","marketing",2000)]
columns=["employee_name","depart","salary"]
df=spark.createDataFrame(data=simpledata,schema=columns)
display(df)

employee_name,depart,salary
james,sales,3000
michael,sales,4600
Robert,sales,4100
James,sales,3000
saif,sales,4100
maria,finance,3000
scott,finance,3300
jen,finance,3900
jeff,marketing,3000
kumar,marketing,2000

In [0]:
df.printSchema()

root
 |-- employee_name: string (nullable = true)
 |-- depart: string (nullable = true)
 |-- salary: long (nullable = true)

In [0]:
from pyspark.sql.functions import lag
from pyspark.sql.window import Window
windowspec=Window.partitionBy("depart").orderBy("salary")

In [0]:
df.withColumn("lag",lag("salary",1).over(windowspec)).show()

+-------------+---------+------+----+
|employee_name|   depart|salary| lag|
+-------------+---------+------+----+
|        maria|  finance|  3000|NULL|
|        scott|  finance|  3300|3000|
|          jen|  finance|  3900|3300|
|        kumar|marketing|  2000|NULL|
|         jeff|marketing|  3000|2000|
|        james|    sales|  3000|NULL|
|        James|    sales|  3000|3000|
|       Robert|    sales|  4100|3000|
|         saif|    sales|  4100|4100|
|      michael|    sales|  4600|4100|
+-------------+---------+------+----+

In [0]:
from pyspark.sql.functions import lead
from pyspark.sql.window import Window
df.withColumn('lead',lead('salary',1).over(Window.partitionBy('depart').orderBy(df["salary"].desc()))).show()

+-------------+---------+------+----+
|employee_name|   depart|salary|lead|
+-------------+---------+------+----+
|          jen|  finance|  3900|3300|
|        scott|  finance|  3300|3000|
|        maria|  finance|  3000|NULL|
|         jeff|marketing|  3000|2000|
|        kumar|marketing|  2000|NULL|
|      michael|    sales|  4600|4100|
|       Robert|    sales|  4100|4100|
|         saif|    sales|  4100|3000|
|        james|    sales|  3000|3000|
|        James|    sales|  3000|NULL|
+-------------+---------+------+----+